<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenxuan.tradeapi.dao.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.zhenxuan.tradeapi.dao.entity.OrderItemEntity">
        <id column="order_item_id" property="orderItemId" />
        <result column="oid" property="oid" />
        <result column="auth_uid" property="authUid" />
        <result column="op" property="op" />
        <result column="sid" property="sid" />
        <result column="barcode" property="barcode" />
        <result column="spu_id" property="spuId" />
        <result column="spu_name" property="spuName" />
        <result column="sku_name" property="skuName" />
        <result column="cover" property="cover" />
        <result column="num" property="num" />
        <result column="unit_price" property="unitPrice" />
        <result column="code" property="code" />
        <result column="r_num" property="rNum" />
        <result column="tid" property="tid" />
        <result column="iuid" property="iuid" />
        <result column="eva_status" property="evaStatus" />
        <result column="comment_id" property="commentId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
      order_item_id, oid, auth_uid, op, sid, barcode, spu_id, spu_name, sku_name, cover, num, unit_price, code, r_num, tid, iuid,, eva_status, comment_id, create_time, update_time
    </sql>

    <sql id="insert_columns">
        <if test="orderItemId != null">order_item_id</if>
        <if test="oid != null">,oid</if>
        <if test="authUid != null">,auth_uid</if>
        <if test="op != null">,op</if>
        <if test="sid != null">,sid</if>
        <if test="barcode != null">,barcode</if>
        <if test="spuId != null">,spu_id</if>
        <if test="spuName != null">,spu_name</if>
        <if test="skuName != null">,sku_name</if>
        <if test="cover != null">,cover</if>
        <if test="num != null">,num</if>
        <if test="unitPrice != null">,unit_price</if>
        <if test="code != null">,code</if>
        <if test="rNum != null">,r_num</if>
        <if test="tid != null">,tid</if>
        <if test="iuid != null">,iuid</if>
        <if test="evaStatus != null">,eva_status</if>
        <if test="commentId != null">,comment_id</if>
        create_time,
        update_time
    </sql>

    <sql id="insert_values">
        <if test="orderItemId != null">orderItemId</if>
        <if test="oid != null">oid</if>
        <if test="authUid != null">authUid</if>
        <if test="op != null">op</if>
        <if test="sid != null">sid</if>
        <if test="barcode != null">barcode</if>
        <if test="spuId != null">spuId</if>
        <if test="spuName != null">spuName</if>
        <if test="skuName != null">skuName</if>
        <if test="cover != null">cover</if>
        <if test="num != null">num</if>
        <if test="unitPrice != null">unitPrice</if>
        <if test="code != null">code</if>
        <if test="rNum != null">rNum</if>
        <if test="tid != null">tid</if>
        <if test="iuid != null">iuid</if>
        <if test="evaStatus != null">evaStatus</if>
        <if test="commentId != null">commentId</if>
        now()
        now()
    </sql>

    <select id="selectEntityByOid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_order_item
        <where>
            oid = #{oid,jdbcType=VARCHAR}
        </where>
    </select>

    <insert id="insertOrderItem"
            parameterType="com.zhenxuan.tradeapi.dao.entity.OrderItemEntity">
        insert into
        tbl_order_item (
        <include refid="insert_columns" />
        ) values (
        <include refid="insert_values" />
        )
    </insert>
</mapper>