<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenxuan.tradeapi.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.zhenxuan.tradeapi.entity.OrderEntity">
        <id column="oid" property="oid" />
        <result column="auth_uid" property="authUid" />
        <result column="tid" property="tid" />
        <result column="iuid" property="iuid" />
        <result column="vip" property="vip" />
        <result column="order_status" property="orderStatus" />
        <result column="code" property="code" />
        <result column="op" property="op" />
        <result column="check" property="check" />
        <result column="total" property="total" />
        <result column="goods_total" property="goodsTotal" />
        <result column="cashback" property="cashback" />
        <result column="bonus" property="bonus" />
        <result column="coupon_code" property="couponCode" />
        <result column="coupon_discount" property="couponDiscount" />
        <result column="freight" property="freight" />
        <result column="freight_discount" property="freightDiscount" />
        <result column="payment" property="payment" />
        <result column="user_balance_consume" property="userBalanceConsume" />
        <result column="discount" property="discount" />
        <result column="paid_at" property="paidAt" />
        <result column="pay_oid" property="payOid" />
    </resultMap>

    <sql id="Base_Column_List">
        auth_uid, tid, iuid, vip, order_status, code, op, check, total, goods_total, cashback, bonus, coupon_code, coupon_discount, freight, freight_discount, payment, user_balance_consume, discount, paid_at, pay_oid
    </sql>

    <select id="selectEntityByUid" resultMap="BaseResultMap"
            parameterType="map">
        select
        <include refid="Base_Column_List" />
        from tbl_order
        <where>
            auth_uid = #{authUid,jdbcType=VARCHAR}
        </where>
    </select>

    <insert id="insertPersona"
            parameterType="com.zhenxuan.tradeapi.entity.OrderEntity">
        insert into
        tbl_order (
        <include refid="Persona_Column_List" />
        ) values (
        #{authUid,jdbcType=VARCHAR},
        #{unionId,jdbcType=VARCHAR},
        #{wxAppType,jdbcType=VARCHAR},
        #{wxOpenId,jdbcType=VARCHAR},
        #{balance,jdbcType=BIGINT},
        #{iuid,jdbcType=VARCHAR},
        #{avatar,jdbcType=VARCHAR},
        #{nickName,jdbcType=VARCHAR},
        #{gender,jdbcType=TINYINT}
        )
    </insert>

    <update id="updatePersonaByUnionId"
            parameterType="com.zhenxuan.tradeapi.entity.UserAuthEntity">
        update tbl_user_auth
        <set>
            <if test="avatar != null">avatar = #{avatar,jdbcType=VARCHAR},</if>
            <if test="nickName != null">nick_name = #{nickName,jdbcType=VARCHAR},</if>
            gender = #{gender,jdbcType=TINYINT}
        </set>
        <where>
            unionid = #{unionId,jdbcType=VARCHAR}
        </where>
    </update>

    <update id="updateActionByUid"
            parameterType="com.zhenxuan.tradeapi.entity.UserAuthEntity">
        update tbl_user_auth
        <set>
            <if test="tid != null">tid = #{tid,jdbcType=VARCHAR}</if>
            <if test="iuid != null">, iuid = #{iuid,jdbcType=VARCHAR}</if>
            <if test="fwhOpenId != null">, fwh_open_id = #{fwhOpenId,jdbcType=VARCHAR}</if>
            <if test="member != 0">, member = #{member,jdbcType=TINYINT}</if>
            <if test="expired != 0">, expired = #{expired,jdbcType=BIGINT}</if>
        </set>
        <where>
            auth_uid = #{authUid,jdbcType=VARCHAR}
            <if test="iuid != null">
                AND iuid = ""
            </if>
        </where>
    </update>
</mapper>