<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenxuan.tradeapi.dao.mapper.PayTradeMapper">

    <resultMap id="BaseResultMap" type="com.zhenxuan.tradeapi.dao.entity.PayTradeEntity">
        <id column="pay_trade_id" property="payTradeId" />
        <result column="oid" property="orderId"  />
        <result column="auth_uid" property="authUid" />
        <result column="amount" property="amount"/>
        <result column="prepay_id" property="prepayId" />
        <result column="ip" property="ip"/>
        <result column="result_code" property="resultCode"/>
        <result column="transaction_id" property="transactionId"/>
        <result column="total_fee" property="totalFee"/>
        <result column="fee_type" property="feeType"/>
        <result column="cash_fee" property="cashFee"/>
        <result column="settlement_total_fee" property="settlementTotalFee"/>
        <result column="is_subscribe" property="isSubscribe"/>
        <result column="wx_open_id" property="wxOpenId"/>
        <result column="product_desc" property="productDesc"/>
        <result column="trade_type" property="tradeType"/>
        <result column="bank_type" property="bankType"/>
        <result column="paid_at" property="paidAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        pay_trade_id, oid, auth_uid, amount, prepay_id, ip, result_code, transaction_id, total_fee, fee_type, cash_fee, settlement_total_fee, is_subscribe, wx_open_id, product_desc, trade_type, bank_type, paid_at
    </sql>

    <sql id="Order_Column_List">
        pay_trade_id, oid, auth_uid, amount, prepay_id, ip
    </sql>

    <!-- sql id="PayNotify_Column_List">
        <if test="result_code != null">resultCode</if>
        <if test="transaction_id != null">transactionId</if>
        <if test="total_fee != 0">totalFee</if>
        <if test="fee_type != null">feeType</if>
        <if test="cash_fee != 0">cashFee</if>
        <if test="settlement_total_fee != 0">settlementTotalFee</if>
        <if test="is_subscribe != null">isSubscribe</if>
        <if test="wx_open_id != null">wxOpenId</if>
        <if test="product_desc != null">productDesc</if>
        <if test="trade_type != null">tradeType</if>
        <if test="bank_type != null">bankType</if>
        <if test="paid_at != null">paidAt</if>
    </sql -->

    <!-- sql id="insert_columns">
        <if test="oid != null">oid</if>
        <if test="authUid != null">,auth_uid</if>
        <if test="tid != null">,tid</if>
        <if test="iuid != null">,iuid</if>
        <if test="vip != null">,vip</if>
        <if test="orderStatus != null">,order_status</if>
        <if test="code != null">,code</if>
        <if test="op != null">,op</if>
        <if test="recheck != null">,recheck</if>
        <if test="total != null">,total</if>
        <if test="goodsTotal != null">,goods_total</if>
        <if test="cashback != null">,cashback</if>
        <if test="bonus != null">,bonus</if>
        <if test="couponCode != null">,coupon_code</if>
        <if test="freight != null">,freight</if>
        <if test="freightDiscount != null">,freight_discount</if>
        <if test="payment != null">,payment</if>
        <if test="userBalanceConsume != null">,user_balance_consume</if>
        <if test="discount != null">,discount</if>
        <if test="actualPayment != null">,actual_payment</if>
        <if test="paidAt != null">,paid_at</if>
        <if test="payOrd != null">,pay_oid</if>
        create_time,
        update_time
    </sql>


    <sql id="insert_values">
        <if test="oid != null">oid</if>
        <if test="authUid != null">authUid</if>
        <if test="tid != null">tid</if>
        <if test="iuid != null">iuid</if>
        <if test="vip != null">vip</if>
        <if test="orderStatus != null">orderStatus</if>
        <if test="code != null">code</if>
        <if test="op != null">op</if>
        <if test="recheck != null">recheck</if>
        <if test="total != null">total</if>
        <if test="goodsTotal != null">goodsTotal</if>
        <if test="cashback != null">cashback</if>
        <if test="bonus != null">bonus</if>
        <if test="couponCode != null">couponCode</if>
        <if test="freight != null">freight</if>
        <if test="freightDiscount != null">freightDiscount</if>
        <if test="payment != null">payment</if>
        <if test="userBalanceConsume != null">userBalanceConsume</if>
        <if test="discount != null">discount</if>
        <if test="actualPayment != null">actualPayment</if>
        <if test="paidAt != null">paidAt</if>
        <if test="payOrd != null">payOrd</if>
        now(),
        now()
    </sql -->

    <insert id="insertOrderEntity"
            parameterType="com.zhenxuan.tradeapi.dao.entity.PayTradeEntity">
        insert into
        tbl_pay_trade (
        <include refid="Order_Column_List" />
        ) values (
            #{payTradeId,jdbcType=VARCHAR},
            #{orderId,jdbcType=VARCHAR},
            #{authUid,jdbcType=VARCHAR},
            #{amount,jdbcType=BIGINT},
            #{prepayId,jdbcType=VARCHAR},
            #{ip,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updatePayNotifyResult"
            parameterType="com.zhenxuan.tradeapi.dao.entity.PayTradeEntity">
        update
        tbl_pay_trade (
        <set>
            result_code = #{resultCode,jdbcType=VARCHAR},
            transaction_id = #{transactionId,jdbcType=VARCHAR},
            total_fee = #{totalFee,jdbcType=BIGINT},
            fee_type = #{feeType,jdbcType=VARCHAR},
            cash_fee = #{cashFee,jdbcType=BIGINT},
            settlement_total_fee = #{settlementTotalFee,jdbcType=BIGINT},
            is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
            wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
            product_desc = #{productDesc,jdbcType=VARCHAR},
            trade_type = #{tradeType,jdbcType=VARCHAR},
            bank_type = #{bankType,jdbcType=VARCHAR},
            paid_at = #{paidAt,jdbcType=VARCHAR}
        </set>
        <where>
            oid = #{orderId,jdbcType=VARCHAR}
        </where>
    </update>

    <select id="selectEntityByOid" resultMap="BaseResultMap"
            parameterType="map">
        select
        <include refid="Base_Column_List" />
        from tbl_pay_trade
        <where>
            oid = #{orderId,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>
