<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenxuan.tradeapi.dao.mapper.UserBalanceBillMapper">

    <resultMap id="BaseResultMap" type="com.zhenxuan.tradeapi.dao.entity.UserBalanceBillEntity">
        <id column="bill_id" property="billId"/>
        <result column="oid" property="oid" />
        <result column="auth_uid" property="authUid"/>
        <result column="amount" property="amount"/>
        <result column="income" property="income"/>
        <result column="init_balance" property="initBalance"/>
        <result column="final_balance" property="finalBalance"/>
        <result column="currency" property="currency"/>
        <result column="complete_status" property="completeStatus"/>
        <result column="balance_status" property="balanceStatus"/>
        <result column="cancel_status" property="cancelStatus" />
        <result column="completed_at" property="completeAt" />
        <result column="bill_type" property="billType" />
        <result column="bill_desc" property="billDsesc"/>
    </resultMap>

    <sql id="Base_Column_List">
        bill_id, oid, auth_uid, amount, incode, init_balance, final_balance, currency, complete_status, balance_status, cancel_status, completed_at, `type`, `describe`
    </sql>

    <sql id="insert_columns">
        <if test="billId != null">bill_id</if>
        <if test="oid != null">,oid</if>
        <if test="authUid != null">,auth_uid</if>
        <if test="amount != 0">,amount</if>
        <if test="income != 0">,income</if>
        <if test="initBalance != 0">,init_balance</if>
        <if test="finalBalance != 0">,final_balance</if>
        <if test="currency != null">,currency</if>
        <if test="completeStatus != 0">,complete_status</if>
        <if test="balanceStatus != 0">,balance_status</if>
        <if test="cancelStatus != 0">,cancel_status</if>
        <if test="completedAt != null">,completed_at</if>
        <if test="billType != 0">,bill_type</if>
        <if test="billDesc != null">,bill_desc</if>
    </sql>


    <sql id="insert_values">
        <if test="billId != null">#{billId}</if>
        <if test="oid != null">,#{oid}</if>
        <if test="authUid != null">,#{authUid}</if>
        <if test="amount != 0">,#{amount}</if>
        <if test="income != 0">,#{income}</if>
        <if test="initBalance != 0">,#{initBalance}</if>
        <if test="finalBalance != 0">,#{finalBalance}</if>
        <if test="currency != null">,#{currency}</if>
        <if test="completeStatus != 0">,#{completeStatus}</if>
        <if test="balanceStatus != 0">,#{balanceStatus}</if>
        <if test="cancelStatus != 0">,#{cancelStatus}</if>
        <if test="completedAt != null">,#{completedAt}</if>
        <if test="billType != 0">,#{billType}</if>
        <if test="billDesc != null">,#{billDesc}</if>
    </sql>

    <insert id="insertEntity"
            parameterType="com.zhenxuan.tradeapi.dao.entity.UserBalanceBillEntity">
        insert into
        tbl_user_balance_bill (
        <include refid="insert_columns" />
        ) values (
        <include refid="insert_values"/>
        )
    </insert>
</mapper>