<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean id="ClearDataTask" class="com.zhenxuan.tradeapi.task.ClearDataTask"/ -->

    <!-- Spring定时器注解开关-->
    <!-- task:annotation-driven/>
    <task:scheduler id="merchantScheduler" pool-size="3"/>

    <task:scheduled-tasks scheduler="merchantScheduler">
        <task:scheduled ref="ClearDataTask" method="ckearData" cron="0 0 1 * * ?"/>
    </task:scheduled-tasks> -->

</beans>